.vs/
XamarinFontAwesome/XamarinFontAwesome.Android/bin/
XamarinFontAwesome/XamarinFontAwesome.Android/obj/
XamarinFontAwesome/XamarinFontAwesome.iOS/obj/
XamarinFontAwesome/XamarinFontAwesome/bin/
XamarinFontAwesome/XamarinFontAwesome/obj/
